body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.site-wrapper {
  min-width: 1200px;

  background-color: #849d8f;
  background-image: url("../img/slider1.png");
  background-repeat: no-repeat;
  background-position: center 0px;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;

  -o-transition: background-image 0.5s ease, background-color 0.5s ease;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__list,
.menu__list,
.catalog__list,
.header__user-list,
.signin__list,
.offers__list,
.catalog__list,
.features__list,
.footer__social-list,
.footer__menu-list,
.breadcrumbs,
.filters__list,
.paginator {
  margin: 0;
  padding: 0;

  list-style: none;
}

.header__link,
.menu__link,
.footer__link,
.header__user-link,
.breadcrumbs__link,
.paginator__link {
  color: #ffffff;
}

.footer__link {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__link:hover{
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.signin__link:hover,
.newsletter__link:hover,
.signin__link:focus,
.newsletter__link:focus,
.signin__link:active,
.newsletter__link:active {
  color: #e84d37;
}

.feedback__field,
.feedback__text {
  padding: 15px;

  border: 1px solid #b2b2b2;
  border-radius: 5px;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}
.header .container {
  padding-top: 8px;
}

.content .container__index {
  padding-top: 5px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 10px;
}

.header__item {
  position: relative;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin-right: auto;
}

.header__link {
  display: block;
  padding: 7px 14px;
  margin-bottom: 7px;

  vertical-align: top;
  color: #ffffff;
}

.link--underline,
.catalog__description {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu__item:hover .menu__list {
  display: block;
}

.header__link:not(.header__link--current):hover,
.header__link:not(.header__link--current):active,
.header__link:not(.header__link--current):focus,
.header__item:hover > a {
  padding: 7px 14px;

  color: #333333;

  background-color: #f7f6f3;
  border-radius: 50px;
}

.header__link--current,
.header__item:hover > .header__link--current {
  padding: 7px 14px;

  color: #ffffff;

  background-color: #d07058;
  border-radius: 50px;
  border-color: transparent;
}

.header__link:active {
  -webkit-box-shadow: inset 0px 2px 0px 1px #696969;
          box-shadow: inset 0px 2px 0px 1px #696969;
}

.header__user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin-left: auto;
}

.header__user-item {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__cart--red::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 28px;
  
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon-loup {
  position: absolute;
  right: 6px;
  top: 8px;
  z-index: 1;
}

.icon-entrance {
  position: absolute;
  top: 6px;
  left: 30px;
  z-index: 1;
}

.icon-cart {
  position: absolute;
  top: 6px;
  left: 26px;
  z-index: 1;
}

.header__cart--red::before {
  width: 21px;
  height: 20px;

  background-image: url("../img/basket-red.svg");
}

.header__user-link {
  padding: 8px 16px 8px 44px;
  margin-left: 12px;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 16px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.cart--empty {
  padding-left: 42px;
  padding-right: 34px;
}

.cart--full {
  color: #323232;

  background-color: #f8f7f4;
}

.header__user-item:first-of-type .header__user-link {
  padding: 0;
  width: 32px;
  height: 32px;

  border-radius: 50%;
}

.header__user-item:hover #icon-loup,
.header__user-item:hover #icon-entrance,
.header__user-item:hover #icon-cart,
.header__user-item:focus #icon-loup,
.header__user-item:focus #icon-entrance,
.header__user-item:focus #icon-cart {
  fill: #323232;
}

.header__user-link:hover,
.header__user-link:focus,
.header__user-item:hover > a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400px;
  color: #323232;

  background-color: #f8f7f4;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__text {
  padding: 0;
  margin: 0;
  margin-top: -3px;
  margin-left: auto;
  width: 167px;

  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 267px;
  margin-right: auto;
}

.breadcrumbs__link {
  padding-right: 7px;
}

.breadcrumbs__link:not(.crumb):hover {
  color: #ffbc9e;
}

.menu__list {
  position: absolute;
  top: 37px;
  left: -7px;
  z-index: 10;
  padding-top: 3px;
  padding-bottom: 8px;
  min-width: 143px;

  background-color: #f8f7f4;
  border-radius: 8px;
  overflow: hidden;
}

.menu__item--underline::after {
  content: "";
  position: absolute;
  right: 8px;
  top: 38px;
  left: 8px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.menu__link {
  display: block;
  padding: 7px 20px;

  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.menu__new {
  font-weight: 700;
}

.menu__item:first-of-type {
  border-radius: 8px 8px 0 0;
  padding-bottom: 10px;
}

.menu__item:last-child {
  border-radius: 0 0 8px 8px;
}

.menu__link--curent {
  background-color: #d07058;
}

.menu__link:not(.menu__link--curent):hover {
  background-color: #fbded7;
}

.menu__item .menu__link:active {
  background-color: #f6b5a5;
}

.search__box {
  position: absolute;
  top: 37px;
  left: -294px;
  z-index: 10;

  width: 311px;
  padding: 20px 15px;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.signin {
  position: absolute;
  top: 35px;
  right: 0px;
  z-index: 10;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  width: 237px;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.signin__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  margin: 0;
  margin-bottom: 20px;
}

.signin__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signin__link {
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #323232;
  text-decoration: underline;
}

.signin__btn,
.slider__btn,
.offers__btn,
.catalog__btn,
.map__btn {
  display: block;
}

.cart {
  position: absolute;
  top: 35px;
  right: 0px;
  z-index: 20;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 16px 12px 20px 16px;
  width: 512px;

  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.cell {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 12px;
  vertical-align: center;
}

.cell:not(.cell__item) {
  word-wrap: normal;
}

.cell__btn {
  padding-right: 12px;
}

.cell__img {
  word-wrap: break-word;
}

.cell__item {
  padding-left: 15px;
  padding-right: 28px;
  width: 218px;
  text-align: left;
}

.cell__total {
  padding-right: 9px;
}

.cart__content {
  width: 100%;
  border-collapse: collapse;
}

.row:nth-last-of-type(2) .cell {
  border-bottom: 1px solid #cacac7;
}



.cell--grey {
  padding-right: 28px;

  color: #b2b2b1;
}

.row:last-child .cell {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  text-align: right;
}

.text--big {
  font-size: 22px;
  line-height: 29px;
}

.slide {
  display: none;
}

.slider {
  position: relative;

  padding-top: 268px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.btn {
  display: inline-block;
  padding: 12px 44px;

  font-size: 31px;
  line-height: 41px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.slider__btn {

  font-size: 32px;
  line-height: 44px;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider__controls {
  position: absolute;
  bottom: 21px;
  left: 0;
  z-index: 11;

  font-size: 0;
}

.slider__controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider__controls label:hover,
.slider__controls label:focus {
  background-color: rgba(248, 247, 244, 0.4);
}

.slider__controls label:active {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.offers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 520px;
  padding: 20px;
  padding-top: 15px;

  border-radius: 15px;
}

.offers__item:first-child {
  background: url("../img/raspberry-bg.jpg") no-repeat center;
  background-color: #590b19;
}

.offers__item:last-child {
  background: url("../img/chocolate-bg.jpg") no-repeat center;
  background-color: #3f2519;
}

.offers__title {
  margin: 0;
  margin-bottom: 16px;

  font-size: 35px;
  line-height: 41px;
}

.offers__text {
  margin: 0;
  margin-bottom: 43px;

  font-size: 18px;
  line-height: 22px;
}

.newsletter__list,
.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers,
.newsletter,
.slider,
.catalog:not(.catalog__popular) {
  margin-bottom: 42px;
}

.catalog__list {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__item {
  position: relative;
  width: 267px;
  min-height: 250px;
  margin-bottom: 38px;

  text-align: center;
}

.catalog__overlay {
  z-index: 1;
  position: absolute;
  top: -5px;
  left: -12px;

  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;

  width: 293px;
  height: 405px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog__item:hover .catalog__overlay {
 visibility: visible;
}

.catalog__hit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog__image {
  margin-bottom: 8px;
}

.catalog__price {
  position: absolute;
  top: 207px;
  left: -1px;

  font-size: 27px;
}

.price--big {
  margin-right: 37px;

  font-size: 45px;
  line-height: 45px;
}

.price--big::after {
  content: "";

  position: absolute;
  top: 5px;
  left: 82px;

  width: 31px;
  height: 36px;
  
  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog__description {
  margin-left: 9px;
  margin-right: 0px;

  word-wrap: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}

.features {
  position: relative;

  margin-bottom: 40px;
  padding-top: 27px;
  padding-bottom: 24px;
  padding-left: 20px;
  padding-right: 23px;

  background: url("../img/vaflya.jpg") repeat center;
  background-color: #eaddc1;
  border-radius: 15px;
}

.features__description {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.features__item {
  position: relative;

  width: 480px;
  margin-left: 57px;
}

.features__text::before {
  content: "";

  position: absolute;
  top: 6px;
  left: -57px;

  width: 61px;
  height: 61px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.best1::before {
  background-image: url("../img/ice-cream.svg");
}

.best2::before {
  background-image: url("../img/cow.svg");
}

.best3::before {
  background-image: url("../img/eco.svg");
}

.best4::before {
  background-image: url("../img/thermometer.svg");
}

.features__text {
  margin: 0;
  margin-top: 21px;

  line-height: 22px;
  font-weight: 200;
  color: #323232;
}

.newsletter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.newsletter__title {
  margin: 0;
  margin-bottom: 3px;

  font-size: 16px;
  line-height: 22px;
  font-weight: medium;
  color: #323232;
}

.newsletter__link {
  width: 283px;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
  text-decoration: underline;
}

.newsletter__item {
 -webkit-box-pack: start;
     -ms-flex-pack: start;
         justify-content: flex-start;
}

.newsletter__item:first-child {
  padding-top: 24px;

  background: url("../img/strawberry-bg.jpg") no-repeat center;
  background-color: #ffffff;
}

.newsletter__item:last-child {
  padding: 5px;
  width: 550px;

  background: url("../img/post-bg.jpg") no-repeat center;
  background-color: #f8f7f4;
}

.newsletter__bg {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 30px 22px 36px 22px;

  background-color: #f8f7f4;
  background-size: cover;
  border-radius: 15px;
}

.newsletter__text {
  margin: 0px;
  margin-bottom: 31px;

  line-height: 22px;
  font-weight: normal;
  color: #5a5a5a;
}

.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.signin__input,
.search__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 45px;

  font: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #323232;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.newsletter__input {
  padding: 12px;
  margin-right: 12px;

  width: 100%;

  border: 1px solid #b2b2b2;
  border-radius: 5px;
}

.signin__input::-webkit-input-placeholder,
.search__input::-webkit-input-placeholder,
.newsletter__input::-webkit-input-placeholder,
.feedback__field::-webkit-input-placeholder,
.feedback__text::-webkit-input-placeholder {
  color: #999999;
  font-weight: normal;
}

.signin__input:-ms-input-placeholder,
.search__input:-ms-input-placeholder,
.newsletter__input:-ms-input-placeholder,
.feedback__field:-ms-input-placeholder,
.feedback__text:-ms-input-placeholder {
  color: #999999;
  font-weight: normal;
}

.signin__input::-ms-input-placeholder,
.search__input::-ms-input-placeholder,
.newsletter__input::-ms-input-placeholder,
.feedback__field::-ms-input-placeholder,
.feedback__text::-ms-input-placeholder {
  color: #999999;
  font-weight: normal;
}

.signin__input::placeholder,
.search__input::placeholder,
.newsletter__input::placeholder,
.feedback__field::placeholder,
.feedback__text::placeholder {
  color: #999999;
  font-weight: normal;
}

.feedback__field:hover,
.feedback__text:hover,
.newsletter__input:hover {
  padding: 11px;
  border: 2px solid #9a9a9a;
  outline-width: 2px;
}

.feedback__field:focus,
.feedback__text:focus,
.newsletter__input:focus {
  padding: 11px;

  color: #323232;
  font-weight: bold;

  outline: none;
  border: 2px solid #2e88e4;
}

.signin__input:hover,
.search__input:hover,
.password__input:hover {
  padding: 9px;

  border: 2px solid #9a9a9a;
  outline-width: 2px;
}

.signin__input:focus,
.search__input:focus {
  padding: 9px;

  color: #323232;

  outline: none;
  border: 2px solid #2e88e4;
}

.search__input:focus,
.signin__input:focus,
.newsletter__input:focus,
.feedback__field:focus,
.feedback__text:focus {
  font-weight: bold;
}

.map {
  position: relative;

  width:100%;
  height: 430px;

  background: url("../img/map.jpg") no-repeat center;
}

.map__wrapper {
  position: relative;

  width: 1200px;
  min-height: 430px;
  margin: 0px auto;
}

.map__inner {
  z-index: 1;

  position: absolute;
  width: 100vw;
  height: 430px;
}

.map__adress-block {
  z-index: 5;

  position: absolute;
  top: 59px;
  right: 25px;

  padding: 30px 25px;
  width:252px;
  min-height:245px;

  background-color: #ffffff;
  border-radius: 15px;
}

.offers__btn {
  -ms-flex-item-align: end;
      align-self: flex-end;

  padding-left: 22px;
  padding-right: 22px;

  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
}

.signin__btn {
  padding-left: 25px;
  padding-right: 25px;

  font-size: 18px;
  line-height: 24px;

  border-radius: 40px/50px;
}

.catalog__btn {
  z-index: 2;
  padding-left: 15px;
  padding-right: 15px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 21px;

  font-size: 18px;
  line-height: 24px;

  border-radius: 40px/50px;
}

.cart__btn {
  -ms-flex-item-align: end;
      align-self: flex-end;

  padding-left: 15px;
  padding-right: 15px;

  font-size: 18px;
  line-height: 24px;

  border-radius: 40px/50px;
}

.newsletter__btn {
  padding-left: 18px;
  padding-right: 18px;

  font-size: 18px;
  line-height: 24px;
}

.map__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;

  padding-left: 26px;
  padding-right: 26px;
  margin-top: 21px;
}

.map__text {
  margin: 0px;

  width: 156px;

  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #323232;
}

.map__call {
  width: 172px;
  margin-top: 18px;
  margin-bottom: 4px;
}

.map__phone {
  margin: 0;
  margin-bottom: 2px;
}

.map__text--adress {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
}

.map__text--bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
}

.feedback {
  position: fixed;
  top: 340px;
  left: 50%;
  z-index: 15;

  width: 427px;
  height: 399px;
  padding: 18px 25px 25px 25px;
  margin-left: -230px;

  background-color: #f8f7f4;
  border-radius: 10px;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.feedback__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  color: #323232;
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #999999;
}

.input__name,
.input__email {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: auto;
  padding: 12px;
  width: 62.8%;
}

.feedback__text {
  height: 129px;
  padding: 12px;
  margin-bottom: 25px;

  resize: none;
}

.feedback--close {
  position: absolute;
  top: 13px;
  right: 23px;

  -ms-flex-item-align: end;

      align-self: flex-end;

  width: 20px;
  height: 20px;

  font-size: 0;
  border: 0;
  background-color: transparent;

  cursor: pointer;
}

.feedback--close::before,
.feedback--close::after {
  content: "";

  position: absolute;
  width: 20px;
  height: 2px;

  background-color: #323232;
}

.feedback--close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.feedback--close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.breadcrumbs {
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.filters {
  margin-bottom: 29px;
}

.filter__title {
  padding: 0;
  margin: 0;
  margin-bottom: 26px;

  font-size: 35px;
  line-height: 41px;
}

.filters__title,
.price-controls {
  margin: 0;
  margin-left: 15px;
  margin-bottom: 6px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400px;
}

.filters__item {
  position: relative;
  padding-left: 34px;
  padding-right: 19px;

  font-weight: 400;
}

.filters__radio {
  padding-left: 36px;
  padding-right: 14px;
}

.filters__group {
  position: relative;

  margin: 0;
  padding: 0;
  margin-right: 15px;

  border: none;
}

.radio__label {
  position: relative;

  display: block;

  cursor: pointer;
}

.checkbox__label {
  cursor: pointer;
}

.filters__radio + .radio__label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -34px;

  width: 16px;
  height: 16px;
  
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.filters__radio:checked + .radio__label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -27px;

  width: 8px;
  height: 8px;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
}

.checkbox__label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 6px;

  width: 16px;
  height: 16px;

  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 3px;

  cursor: pointer;
}

.radio__label:hover::before,
.checkbox__label:hover::before,
.filters__input:focus + .radio__label::before,
.filters__input:focus + .checkbox__label::before {
  border-color: #ffffff;
}

.filters__radio:checked + .radio__label:hover::after,
.filters__input:focus + .radio__label::after {
  background-color: #ffffff;
}

.filters__checkbox:checked + .checkbox__label::before {
  visibility: hidden;
}

.filters__checkbox:checked + .checkbox__label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 6px;

  width: 24px;
  height: 20px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filters__checkbox:checked + .checkbox__label:hover::after,
.filters__input:focus + .checkbox__label::after {
  opacity: 1;
  cursor: pointer;
}

.filters__radio:disabled + .radio__label::before,
.filters__radio:disabled + .radio__label::after,
.filters__checkbox:disabled + .checkbox__label::before,
.filters__checkbox:disabled + .checkbox__label::after {
  opacity: 0.4;

  pointer-events: none;
  cursor: default;
}

.filters__input:disabled + .checkbox__label:hover::before,
.filters__input:disabled + .checkbox__label:hover::after {
  opacity: 0.4;
}

.filters__input:disabled + .radio__label:hover::before,
.filters__input:disabled + .radio__label:hover::after {
 opacity: 0.35;
}

.range-controls {
  position: relative;
}

.range-controls .scale {
  height: 4px;
  padding-right: 30px;
  padding-left: 20px;

  background: rgba(255, 255 ,255, 0.5);
}

.range-controls .bar {
  width: 75%;
  height: 4px;

  background: #ffffff;
}

.range-controls .toggle {
  position: absolute;
  top: -9px;
  left: 0px;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 15px;
}

.range-controls .toggle-max {
  left: 113px;
}

.range-controls .toggle-max:hover,
.range-controls .toggle-min:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.min__input,
.max__input {
  width: 33px;

  font: inherit;
  text-align: center;
  color: #ffffff;

  background: #849d8f;
  border: none;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.filters__list,
.filters__sorting,
.range {
  padding: 9px 0px 9px 12px;
  margin-bottom: 14px;

  border-radius: 50px;
  background-color: rgba(248, 247, 244, 0.2);
}

.filters__sorting {
  padding: 9px 15px;
  padding-right: 32px;

  color: #ffffff;

  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
     -ms-appearance: none;
}

.filters__sorting::-ms-expand {
  display: none;
}

.icon-down {
  position: absolute;
  right: 13px;
  top: 35px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  pointer-events: none;
}

.filters__sorting:hover,
.filters__sorting:focus {
  color: #323232;
}


.filters__group:hover #icon-down {
  fill: #323232;
}

.range {
  padding: 16px 21px;
  width: 178px;
}

.filters__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  min-width: 144px;
  height: 36px;
  margin-left: 6px;
  margin-bottom: -9px;

  font: inherit;
  color: #ffffff;
  text-align: center;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 50px;

  cursor: pointer;
}

.filters__btn:hover {
  color: #323232;

  background-color: #fbfcfb;
}

.filters__btn:active,
.filters__btn:focus {
  background-color: #eaeaea;
  border: none;
  -webkit-box-shadow: inset 0px 2px 0px 1px #696969;
          box-shadow: inset 0px 2px 0px 1px #696969;
}

.paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  margin-right: -8px;
  margin-bottom: 33px;

  text-align: right;
}

.paginator__link {
  display: block;
  margin-left: 5px;
  min-width: 25px;
  height: 25px;

  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  line-height: 25px;

  border-radius: 50%;
}

.paginator__link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.paginator__link--current,
.paginator__link--current.paginator__link:hover,
.paginator__link:focus,
.paginator__link:active {
  color: #323232;

  background-color: #ffffff;
}

.paginator-item--inactive {
  color: #ffffff;

  opacity: 0.3;

  pointer-events: none;
  cursor: default;
}

.last__page:active #last-page {
  fill: #323232;
}

.paginator-item--inactive svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 0px 30px 0px;

  border-top: 1px solid #ffffff;
}

.footer__menu-item {
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
}

.footer__menu-item:first-child {
    margin-bottom: 8px;
}

.footer__text,
.footer__link {
  padding: 0;
  margin: 0;

  font-size: 12px;
  font-weight: normal;
}

.footer__text--bold {
  font-weight: bold;
}

.footer__social-list {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 187px;
}

.social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
}

.footer__tw::before,
.footer__inst::before,
.footer__fb::before,
.footer__vk::before,
.social-btn::before {
  display: block;
  content: "";
  position: absolute;
  top: 6px;

  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: 0 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  outline: inherit;
  opacity: 0.8;
}

.footer__tw::before {
  left: 0px;

  background: url("../img/twitter.svg") no-repeat center;
}

.social-btn:hover::before {
  border: 2px solid rgba(255, 255, 255, 0.7);
  opacity: 1;
}
.social-btn:active::before {
  border: 2px solid rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: inset 0px 2px 0px 1px #888888;
          box-shadow: inset 0px 2px 0px 1px #888888;
  opacity: 0.9;
}

.footer__inst::before {
  left: 50px;

  background: url("../img/instagram.svg") no-repeat center;
}

.footer__fb::before {
  left: 100px;

  background: url("../img/fb.svg") no-repeat center;
}

.footer__vk::before {
  left: 150px;

  background: url("../img/vk.svg") no-repeat center;
}

.menu-list__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 4px;
}

.footer__menu-list {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-list--left {
  margin-right: 40px;
  margin-left: -5px;
}

.footer__heart::before {
  content: "";

  position: absolute;
  top: 2px;
  left: -22px;

  width: 15px;
  height: 13px;

  background: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
}

.footer__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__item .menu__list,
.header__user-item .search__box,
.header__user-item .signin,
.header__user-item .cart,
/*.feedback,*/
.inner--hidden,
.btn--hidden {
  display: none;
}
 
.header__item:hover .menu__list,
.header__item:active .menu__list,
.header__item:focus .menu__list,
.header__user-item:hover .signin,
.header__user-item:hover .search__box {
  display: block;
}
.header__user-item:hover .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}